
/* NAVBAR */

.navbar {
  background-color: rgb(168, 147, 147)!important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.navbar-start {
  padding-left: 5%;
}

.navbar-end a:hover {
  background-color: rgb(168, 147, 147);
  text-decoration: underline;
}

.navbar-end a {
  font-size: 1.7em;
}


/* HERO */

.hero {
  background: rgb(168, 147, 147);
  font-family: sans-serif;
}

.hero-body {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}
h2 {
  display: block;
  margin-top: -10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(54, 52, 52);
  padding-bottom: 1px;
}
.hero p {
  color: rgb(238, 238, 239);
  padding-left: 10%;
  padding-right:5%;
  padding-top: 10px;
}
.hero a {
  color: black;
}
.hero a:hover {
  color: white;
}
.welcome {
  font-size: 2em;
}

.hero figure img {
  width: 120%;
}

/* MAIN */

main {
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  padding-bottom: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main h2 {
  padding-top: 0px;
}



.item {
  padding-left: 10px;
  padding-right: 10px;
}

main figure.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  border-radius: 0%;
}
main img:hover {
  transform: translateY(0px);
  transform: scale(1.02);
  opacity: 0.7;
}

.tags {
  padding-bottom: 15px;
}

.is-clear a {
  color: black;
}
.is-clear a:hover {
  color: rgb(168, 147, 147);
}
.published-on {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  padding-top: 5px;
  padding-bottom:2px;
}

.is-dark {
  background:rgb(168, 147, 147);
}

.is-dark a {
  color: black;
}

.is-dark a:hover {
  color: white;
}

#resume h2 {
  font-size: 1.8em;
}

#resume p {
  display: inline-block;
}

.is-date {
  text-align: right; 
}


.resume-container {
  padding-left:5%;
  padding-right:10%
}

.job-title {
  font-weight: bold;
}

.workplace {
  font-style: italic;
}

hr {
  padding: 0;
  margin-top: -15px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%
}

table {
  border-collapse: collapse;
  border-bottom: none;
}

.table td {
  border-bottom: none;
  border-top: none;
  padding: 0px;
}
