.is-centered {
    text-align: center;
}

.hero-body {
    font-family: Georgia, serif
}

.is-text {
    margin-left: 15vh;
    margin-right: 15vh;
}

.is-graph {
    margin-left: 30vh;
    margin-right: 30vh;
}

.is-table {
    margin-left: 20vh;
    margin-right: 20vh;
}